*{
	margin:0;
	padding:0;
}

html{
	
	background:url('banner.png') no-repeat center center;
	
	min-height:100%;
	
	background-size:cover;
}

body{
	min-height:100%;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}

a, a:visited {
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}
